<div class="Polaris-Page__MainContent itemValue add-item-UBP:UNIT_ID mt-3">
    <div class="Polaris-Page__TitleAndActions">
        <div class="Polaris-Page__Title">
            <div class="Polaris-Connected">
                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                    <div class="Polaris-FormLayout">
                        <div class="Polaris-FormLayout__Items">
                            <div class="Polaris-FormLayout__Item">
                                <div class="Polaris-TextField Polaris-TextField--hasValue">
                                    <input id="add_more_UBP:UNIT_ID" name="add_item[]" type="text" class="Polaris-TextField__Input" placeholder="Please enter value.">
                                    <div class="Polaris-TextField__Backdrop"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" removeAdditem ml-2" data-uno="UBP:UNIT_ID" style="UBP:ITEM_CSS"><span class="Polaris-Icon">UBP:WHICH_SVG_ICON</span></div>
</div>