/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 18, 2018, 6:10:54 PM
    Author     : Admin
*/
 .wrapper-main{
    width:100%;
    height:100%
}

@media (min-width:48.0625em){
    .menu .FsxKz{
        top:5.6rem
    }
}
.sub-menu{
    position:fixed;
    z-index:506;
    top:0;
    left:0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex:0;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
    -webkit-box-align:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
    height:100%;
    -webkit-transform:translateX(-100%);
    transform:translateX(-100%);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    will-change:transform;
    outline:none
}
@media print{
    .sub-menu{
        display:none!important
    }
}
@media (min-width:48.0625em){
    .sub-menu{
        z-index:1;
        top: 5.6rem;
/*        height:calc(100% - 5.6rem);*/
        -webkit-transform:none;
        transform:none;
        -webkit-backface-visibility:hidden;
        backface-visibility:hidden;
        will-change:none;
        transition:none
    }
}
.sub-menu:focus{
    outline:none
}
.menu-nav{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
    width:calc(100vw - 6.4rem);
    min-width:24rem;
    max-width:36rem;
    height:100%;
    min-height:100%;
    background:#f4f6f8;
    -webkit-overflow-scrolling:touch;
    padding-left:calc(0px + constant(safe-area-inset-left));
    padding-left:calc(0px + env(safe-area-inset-left));
    padding-bottom:calc(0px + constant(safe-area-inset-bottom));
    padding-bottom:calc(0px + env(safe-area-inset-bottom))
}
.menu-nav:focus{
    outline:none
}
@media (min-width:48.0625em){
    .menu-nav{
        max-width:24rem;
        border-right:1px solid #dfe3e8;
        max-width:calc(24rem + constant(safe-area-inset-left));
        max-width:calc(24rem + env(safe-area-inset-left))
    }
}
.menu-ul{
    margin:0;
    padding:0;
    list-style:none;
    -webkit-box-flex:0;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
    padding:1.6rem 0
}
.menu-ul+.menu-ul{
    padding-top:.4rem
}
.menu-li{
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
.menu-active{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    margin:0;
    padding:0;
    background:none;
    border:none;
    font-size:inherit;
    line-height:inherit;
    cursor:pointer;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    max-width:100%;
    padding:0 1.6rem;
    font-size:1.6rem;
    font-weight:400;
    line-height:4rem;
    color:#212b36;
    text-decoration:none;
    text-align:left
}
.menu-active:focus{
    outline:none
}
.menu-active:hover{
    color:#000
}
.menu-active:focus,.menu-active:hover{
    text-decoration:none
}
.menu-active:focus .Uoyxx,.menu-active:hover .Uoyxx{
    fill:#637381;
    color:#fff
}
.menu-active:focus{
    color:#5c6ac4
}
.menu-active:focus .Uoyxx{
    fill:#5c6ac4;
    color:#fff
}
@media (min-width:48.0625em){
    .menu-active{
        font-size:1.4rem;
        font-weight:500;
        line-height:3.2rem
    }
}
.menu-active::-moz-focus-inner{
    border:0
}
._2jqJd .active{
    font-weight:500;
    color:#5c6ac4
}
@media (min-width:48.0625em){
    ._2jqJd .active{
        font-weight:600
    }
}
.active .icon-svg,.active:hover .icon-svg{
    fill:#5c6ac4;
    color:#fff
}
.menu-ul .menu-active.active{
    font-weight:600;
    color:#5c6ac4
}
.active .icon-svg,.active:focus .icon-svg{
    fill:#5c6ac4;
    color:#fff
}
.menu-ul .menu-active.active:hover{
    color:#5c6ac4
}
.icon-svg{
    fill:#919eab;
    color:#fff;
    -ms-flex-negative:0;
    flex-shrink:0;
    -ms-flex-item-align:start;
    align-self:flex-start;
    width:2rem;
    height:2rem;
    margin-top:1rem;
    margin-right:2rem;
    margin-bottom:1rem
}
@media (min-width:48.0625em){
    .icon-svg{
        margin-top:.6rem;
        margin-right:1.6rem;
        margin-bottom:.6rem
    }
}
.active .icon-svg,.active:hover .icon-svg{
    fill:#5c6ac4;
    color:#fff
}
.icon-svg svg{
    display:block
}
._2jqJd .menu-icon{
    margin-top:1rem;
    margin-bottom:1rem;
    line-height:2rem
}
@media (min-width:48.0625em){
    ._2jqJd .menu-icon{
        margin-top:.4rem;
        margin-bottom:.4rem
    }
}
.menu-icon{
    -webkit-box-flex:1;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    margin-top:1rem;
    margin-bottom:1rem;
    line-height:2rem
}
@media (min-width:48.0625em){
    .menu-icon{
        margin-top:.6rem;
        margin-bottom:.6rem
    }
}
@media (min-width:48.0625em){
    .menu-default .main-menu{
        padding-left:24rem
    }
}
@media print{
    .menu-default .main-menu{
        padding-left:0
    }
}
@media not print{
    .menu .main-menu{
        height:calc(100% - 5.6rem)
    }
}
.main-menu{
    display:block;
    height:100%;
    padding-right:calc(0px + constant(safe-area-inset-right));
    padding-right:calc(0px + env(safe-area-inset-right));
    padding-bottom:calc(0px + constant(safe-area-inset-right));
    padding-bottom:calc(0px + env(safe-area-inset-right))
}
.menu-svg-icon {
    display: block;
    height: 2rem;
    width: 2rem;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}
.top-menu{
    position:relative;
    z-index:502;
    width:100%
}
@media print{
    .top-menu{
        display:none!important
    }
}
 .top-background{
    --top-bar-background:#1c2260;
    --top-bar-background-darker:#00084b;
    --top-bar-text-field-background:#43467f
}
 .top-icon-class{
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    height:5.6rem;
    background-color:var(--top-bar-background)
}
._2RlBO{
    display:none
}
@media (min-width:48.0625em){
    ._2RlBO{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-flex:0;
        -ms-flex:0 0 24rem;
        flex:0 0 24rem;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        height:100%;
        padding:0 .8rem 0 1.6rem;
        background-color:var(--top-bar-background-darker);
        -ms-flex-preferred-size:calc(24rem + constant(safe-area-inset-left));
        flex-basis:calc(24rem + constant(safe-area-inset-left));
        -ms-flex-preferred-size:calc(24rem + env(safe-area-inset-left));
        flex-basis:calc(24rem + env(safe-area-inset-left));
        padding-left:calc(1.6rem + constant(safe-area-inset-left));
        padding-left:calc(1.6rem + env(safe-area-inset-left))
    }
}
.svg-icon-topbar,._1w7jI{
    width:10.4rem;
    display:block
}
._3H5tv .svg-icon-topbar,._3H5tv ._1w7jI{
    width:14rem
}
.TsOyU .svg-icon-topbar,.TsOyU ._1w7jI{
    width:12.8rem
}
.QXbMc .svg-icon-topbar,.QXbMc ._1w7jI{
    width:13.2rem
}
.mMV0-{
    position:fixed;
    z-index:503;
    top:0;
    left:0;
    width:100%;
    pointer-events:none
}
@media print{
    .mMV0-{
        display:none!important
    }
}
 ._1COwL{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    height:5.6rem;
    background-color:#fff;
    box-shadow:0 2px 4px rgba(0,0,0,.1);
    opacity:0;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    will-change:opacity;
    transition:opacity .2s cubic-bezier(.64,0,.35,1)
}
._3wBa8{
    display:none
}
@media (min-width:48.0625em){
    ._3wBa8{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-flex:0;
        -ms-flex:0 0 24rem;
        flex:0 0 24rem;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        height:100%;
        padding:0 1.6rem;
        border-right:1px solid #ebeef0;
        background-color:#fafbfc
    }
}
._3-ipZ{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex:1;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    min-width:1px;
    max-width:99.8rem;
    height:100%;
    margin:0 auto;
    padding:0 1.6rem
}
@media (max-width:48.0625em) and (min-width:30.625em),(min-width:45.625em){
    ._3-ipZ{
        padding:0 2rem
    }
}
@media (max-width:48.0625em) and (min-width:46.5em),(min-width:61.5em){
    ._3-ipZ{
        padding:0 3.2rem
    }
}
._1-WrP{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-size:1.7rem;
    font-weight:600;
    line-height:2.4rem;
    color:#637381;
    -webkit-box-flex:1;
    -ms-flex-positive:1;
    flex-grow:1
}
@media (min-width:40em){
    ._1-WrP{
        font-size:1.6rem
    }
}
._2HR_1{
    position:fixed;
    z-index:505;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:rgba(33,43,54,.86);
    transition:opacity .2s cubic-bezier(.64,0,.35,1);
    pointer-events:none;
    opacity:0;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    will-change:opacity
}
@media print{
    ._2HR_1{
        display:none!important
    }
}
@media (min-width:48.0625em){
    ._2HR_1{
        display:none
    }
}